body{
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#canvas{
    background: white;
    border-radius: 5px;
}
#score{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100px;
    height: 15px;
    margin-left: -12em;
    margin-top: -28em;
}
#start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    width: 200px;
    height: 75px;
    margin-top: -15em;
}